<!DOCTYPE html>
<html>
<head>
  <title>Backplane</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag '//d134l0cdryxgwa.cloudfront.net/backplane2.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
